[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
setuptools = "*"
wheel = "*"
beautifulsoup4 = "*"
django-wkhtmltopdf = "==3.2.0"
pdfkit = "==0.6.1"

[requires]
python_version = "2.7"
